:root{
/* Primary */
--blue500: hsl(215, 51%, 70%);
--cyan400: hsl(178, 100%, 50%);

/* Neutral */
--blue950: hsl(217, 54%, 11%);
--blue900: hsl(216, 50%, 16%);
--blue800: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
  font-size: 62.5%;
}

@font-face {
  font-family: "Outfit";
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--blue950);
  height: 100vh;
  width: 100vw;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20rem;
  height: 30rem;
  background-color: var(--blue900);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img .cube {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
